.mainPage {
    background-color: rgba(40,44,52,0.7);
    max-width: 1000px;
    margin: 0 auto 5px auto;
    padding: 10px;
    box-shadow: 10px 5px 5px gainsboro;
    color: gainsboro;


}

.title {
    margin-bottom: 5px;
}